/* Pascucci Theme */
:root {
  --bg-primary: #F8F5EF;
  --bg-secondary: #FFFFFF;
  --bg-tertiary: #EFEFEF;
  --bg-header: #FFFFFF;
  --text-primary: #333333;
  --text-secondary: #666666;
  --text-placeholder: #A08375;
  --accent-primary: #5C3D2F;
  --accent-secondary: #A08375;
  --accent-danger: #B5001E;
  --border-primary: #D8D8D8;
}
.dark {
  --bg-primary: #221C18;
  --bg-secondary: #332B25;
  --bg-tertiary: #443B34;
  --bg-header: #332B25;
  --text-primary: #F0EDE5;
  --text-secondary: #C0BFBB;
  --text-placeholder: #605C55;
  --accent-primary: #B5001E;
  --accent-secondary: #D9AE9D;
  --accent-danger: #FF453A;
  --border-primary: #605C55;
}